h2{
    color: rgba(153, 51, 75,0.3);
}
fieldset{
    width:100%;
    max-width: 900px;
    background-color: hsla(180, 100%, 50%,0.1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#About{
    border:9px,dotted,hsla(249, 80%, 67%,0.2);
}

.model-box{
    font-size:42px ;
}

@media (max-width:420px) {
    .model-box{
        font-size:20px;
        

    }

    
}